# Google AI Studio: https://aistudio.google.com/apikey
GOOGLE_API_KEY=

# DIP-API. Oeffentlicher Key (gueltig bis Mai 2027) von
# https://dip.bundestag.de/ueber-dip/hilfe/api
# Personalisierter Dauer-Key formlos per Mail an parlamentsdokumentation@bundestag.de
DIP_API_KEY=R2BZaee.DjdCyihKZMf8AOjtScubP2EVydegzjmBIQ
